py
colorama==0.4.5
SQLAlchemy
typesystem==0.4.1
orm
databases
pip==22.1.2
toml
wheel
attrs
pony
pytest
pluggy
iniconfig
atomicwrites
urllib3
greenlet
contextvars
selenium
common
aiocontextvars
pyparsing
setuptools==62.4.0
PyMySQL
immutables
zipp
jsonpickle